body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
  background-color: #757575;
}
.report {
  max-width: 1200px;
  margin: auto;
}
h1,
h2,
h3 {
  color: #333;
}
.totals-section,
.orbit-section {
  margin: 30px 0;
  padding: 20px;
  background: #9b9b9b;
  border-radius: 8px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  background: #8e8e8e;
  border-radius: 4px;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #a0a0a0;
}
th {
  background-color: #868686;
  font-weight: bold;
}
.starship-svg {
  text-align: center;
  padding: 15px 0;
}
.hardware-icon {
  width: 10px;
  height: auto;
  vertical-align: middle;
  margin-right: 5px;
}

.non-maneuver-note td:nth-child(2) {
  background-color: #8d8d8d;
  text-align: center;
  font-style: italic;
}

.console {
  font-family: monospace;
}
